<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="67" android:versionName="2.6" package="com.companyname.andriodapp1" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="19" android:targetSdkVersion="30" />
	<application android:allowBackup="true" android:icon="@mipmap/ic_launcher" android:label="@string/app_name" android:roundIcon="@mipmap/ic_launcher_round" android:supportsRtl="true" android:theme="@style/AppTheme" android:name="com.companyname.andriodapp1.SeekerApplication">
		<service android:name="com.companyname.andriodapp1.DownloadService" android:stopWithTask="true"></service>
		<service android:name="com.companyname.andriodapp1.SeekerKeepAliveService" android:stopWithTask="true"></service>
		<activity android:name="com.companyname.androidapp1.MainActivity" android:windowSoftInputMode="adjustPan"></activity>
		<activity android:name="com.companyname.andriodapp1.SettingsActivity" android:parentActivityName="com.companyname.andriodapp1.MainActivity"></activity>
		<activity android:name="com.companyname.andriodapp1.UserListActivity" android:parentActivityName="com.companyname.andriodapp1.MainActivity"></activity>
		<provider android:name="androidx.core.content.FileProvider" android:authorities="${applicationId}.provider" android:exported="false" android:grantUriPermissions="true">
			<meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/provider_paths" />
		</provider>
	</application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
</manifest>